<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="renderModeRegistry" name="renderModeRegistry" schema="schema/renderModeRegistry.exsd"/>

   <extension
         point="org.nightlabs.editor2d.viewer.ui.renderModeRegistry">
      <registry
            description="%renderMode.default.shape.description"
            drawComponentClass="org.nightlabs.editor2d.ShapeDrawComponent"
            mode="default"
            name="%renderMode.default.name">
         <renderContext
               renderContext="org.nightlabs.editor2d.render.j2d.J2DShapeDefaultRenderer"
               renderContextType="Java2D"/>
         <renderContext
               renderContext="org.nightlabs.editor2d.viewer.ui.render.swt.SWTShapeDefaultRenderer"
               renderContextType="SWT"/>
      </registry>
      <registry
            description="%renderMode.default.image.description"
            drawComponentClass="org.nightlabs.editor2d.ImageDrawComponent"
            mode="default"
            name="%renderMode.default.name">
         <renderContext
               renderContext="org.nightlabs.editor2d.render.j2d.J2DImageDefaultRenderer"
               renderContextType="Java2D"/>
         <renderContext
               renderContext="org.nightlabs.editor2d.viewer.ui.render.swt.SWTImageRenderer"
               renderContextType="SWT"/>
      </registry>
      <registry
            description="%renderMode.default.page.description"
            drawComponentClass="org.nightlabs.editor2d.DrawComponentContainer"
            mode="default"
            name="%renderMode.default.name">
         <renderContext
               renderContext="org.nightlabs.editor2d.render.j2d.J2DBaseRenderer"
               renderContextType="Java2D"/>
         <renderContext
               renderContext="org.nightlabs.editor2d.viewer.ui.render.swt.SWTBaseRenderer"
               renderContextType="SWT"/>
      </registry>
      <registry
            description="%renderMode.default.page.description"
            drawComponentClass="org.nightlabs.editor2d.PageDrawComponent"
            mode="default"
            name="%renderMode.default.name">
         <renderContext
               renderContext="org.nightlabs.editor2d.render.j2d.J2DPageRenderer"
               renderContextType="Java2D"/>
      </registry>
      <registry
            description="%renderMode.gray.shape.description"
            drawComponentClass="org.nightlabs.editor2d.ShapeDrawComponent"
            mode="gray"
            name="%renderMode.gray.name">
         <renderContext
               renderContext="org.nightlabs.editor2d.render.j2d.J2DShapeGrayscaleRenderer"
               renderContextType="Java2D"/>
      </registry>
      <registry
            description="%renderMode.blackwhite.shape.description"
            drawComponentClass="org.nightlabs.editor2d.ShapeDrawComponent"
            mode="blackwhite"
            name="%renderMode.blackwhite.name">
         <renderContext
               renderContext="org.nightlabs.editor2d.render.j2d.J2DShapeBlackWhiteRenderer"
               renderContextType="Java2D"/>
      </registry>
   </extension>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.nightlabs.editor2d.viewer.ui.preferences.Editor2DPreferencePage"
            class="org.nightlabs.editor2d.viewer.ui.preferences.ViewerPreferencePage"
            id="org.nightlabs.editor2d.viewer.ui.preferences.ViewerPreferencePage"
            name="%org.nightlabs.editor2d.viewer.ui.preferences.ViewerPreferencePage.name"/>
      <page
            class="org.nightlabs.editor2d.viewer.ui.preferences.Editor2DPreferencePage"
            id="org.nightlabs.editor2d.viewer.ui.preferences.Editor2DPreferencePage"
            name="%org.nightlabs.editor2d.viewer.ui.preferences.Editor2DPreferencePage.name">
      </page>
   </extension>
   <extension
         id="app"
         name="%application.name"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run class="org.nightlabs.editor2d.viewer.ui.app.ViewerApplication"/>
      </application>
   </extension>

   <extension
         point="org.nightlabs.jfire.base.j2ee.remoteResourceFilter">
      <exclusion pattern="org\/nightlabs\/editor2d\/.*"/>
   </extension>
   <extension
         point="org.nightlabs.base.ui.iofilter">
      <ioFilter
            class="org.nightlabs.editor2d.iofilter.XStreamFilter"
            description="%iofilter.editor2d.description"
            name="%iofilter.editor2d.name">
         <fileExtension
               description="%iofilter.editor2d.fileextension.e2d.description"
               fileExtension="e2d"/>
      </ioFilter>
      <ioFilter
            class="org.nightlabs.editor2d.iofilter.SVGFilter"
            description="%iofilter.svg.description"
            name="%iofilter.svg.name">
         <fileExtension
               description="%iofilter.svg.fileextension.svg.description"
               fileExtension="svg"/>
      </ioFilter>
      <ioFilter
            class="org.nightlabs.editor2d.iofilter.SVGZFilter"
            description="%iofilter.svgz.description"
            name="%iofilter.svgz.name">
         <fileExtension
               description="%iofilter.svgz.fileextension.svgz.description"
               fileExtension="svgz"/>
      </ioFilter>
      <ioFilter
            class="org.nightlabs.editor2d.iofilter.PDFFilter"
            description="%iofilter.pdf.description"
            name="%iofilter.pdf.name">
         <fileExtension
               description="%iofilter.pdf.fileextension.pdf.description"
               fileExtension="pdf"/>
      </ioFilter>
      <ioFilter
            class="org.nightlabs.editor2d.iofilter.JPGFilter"
            description="%iofilter.jpg.description"
            name="%iofilter.jpg.name">
         <fileExtension
               description="%iofilter.jpg.fileextension.jpg.description"
               fileExtension="jpg"/>
      </ioFilter>
      <ioFilter
            class="org.nightlabs.editor2d.iofilter.BMPFilter"
            description="%iofilter.bmp.description"
            name="%iofilter.bmp.name">
         <fileExtension
               description="%iofilter.bmp.fileextension.bmp.description"
               fileExtension="bmp"/>
      </ioFilter>
      <ioFilter
            class="org.nightlabs.editor2d.iofilter.PNGFilter"
            description="%iofilter.png.description"
            name="%iofilter.png.name">
         <fileExtension
               description="%iofilter.png.fileextension.png.description"
               fileExtension="png"/>
      </ioFilter>
      <ioFilter
            class="org.nightlabs.editor2d.iofilter.XStreamTemplateFilter"
            description="%iofilter.e2t.description"
            name="%iofilter.e2t.name">
         <fileExtension
               description="%iofilter.e2t.fileextension.e2t.description"
               fileExtension="e2t"/>
      </ioFilter>
      <ioFilter
            class="org.nightlabs.editor2d.iofilter.PCXFilter"
            description="%iofilter.pcx.description"
            name="%iofilter.pcx.name">
         <fileExtension
               description="%iofilter.pcx.fileextension.pcx.description"
               fileExtension="pcx">
         </fileExtension>
      </ioFilter>
   </extension>
      <extension
         point="org.nightlabs.base.ui.removeExtension">
      <removeExtension
            attributeName="id"
            attributePattern="org.eclipse.ui.edit.text.actionSet.navigation"
            elementPath="actionSet"
            extensionPointID="org.eclipse.ui.actionSets"/>
      <removeExtension
            attributeName="id"
            attributePattern="org.eclipse.ui.edit.text.actionSet.convertLineDelimitersTo"
            elementPath="actionSet"
            extensionPointID="org.eclipse.ui.actionSets"/>
      <removeExtension
            attributeName="id"
            attributePattern="org.eclipse.ui.WorkingSetActionSet"
            elementPath="actionSet"
            extensionPointID="org.eclipse.ui.actionSets"/>
      <removeExtension
            attributeName="id"
            attributePattern=".*eclipse.*resource.*"
            elementPath="perspective"
            extensionPointID="org.eclipse.ui.perspectives"/>
   </extension>
</plugin>
