<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <extension point="org.eclipse.ui.preferencePages">
        <page
            category="org.nightlabs.base.ui.preference.UIPreferencePage"
            class="org.nightlabs.eclipse.ui.treestate.preferences.TreeStatePreferencePage"
            id="org.nightlabs.eclipse.ui.treestate.preferences.TreeStatePreferencePage" name="%org.nightlabs.eclipse.ui.treestate.preferences.TreeStatePreferencePage.name"/>
    </extension>
</plugin>
